
.posts{
    border-style: solid;
    border-color: red;
    border-width: 2px;
}

.title{
    border-style: solid;
    border-color: red;
    border-width: 2px;
}
.name{
    border-style: solid;
    border-color: red;
    border-width: 2px;
}




.date{
    border-style: solid;
    border-color: red;
    border-width: 2px;
}



description{
    border-style: solid;
    border-color: red;
    border-width: 2px;
}