{% extends "register.html" %}
{% block body %}

<div style = " font-style: Courier New ; font-size : 22px " >

<h1><b>Do you really need 6 or 8 GB of RAM  on your Smart Phones?</b></h1>
<img src="static/8GB_RAM_needed/8gb_final.png" class="img-fluid"class="img-fluid"  style="width:800px;height:600px; padding-top:40px; padding-bottom:40px ">
<p>Most of us believe these massive ram upgrades are the result of the never-ending specs race among the tech giants, which is true to some extent. The thing is that most of the flagships use the processors and GPUs from the Snapdragon, so they can’t really make it their selling point. Even their Android OS are similar, except for few tweaks they make with their UI. The only thing they tend to compete is with the camera’s performance and the amount of RAM they are able to cramp into their flagships. 
</p>

<p>
In 2015, when Asus launched its flagship, Asus Zenfone 2, with 4 GB of RAM, we all went crazy and asked the same thing, but now even the mid-rangers come with 3-4 GB of RAM. 
</p>

<p>
Now to get to the conclusion, we shall consider both our options, one is we put more time and resources optimizing the software similar to what Apple does with its iOS  and the other one is keep on cramping more RAM which is kind of a trend for past couple of years!  
</p>


<h2><b>Optimizing the software</b></h2>
<p>
iPhones are the best example of the optimization done right. You can use them for years and there will be no stuttering what so ever. Like Apple say,<b> we are not selling you a spec sheet, we are selling you an experience</b>, which in my opinion, most of the other manufacturers fail to achieve. Hence we see iPhone 7 with 2 GB of RAM kicking balls of an android phone with 6 GB of RAM . This is all the result of hard work put into the optimization. 
</p>

<h2><b>Why can’t we optimize Android like iOS?</b></h2>

<p>
Android,unlike,iOS runs on alots of different devices. Plus as Android is Open-Source, any manufacturer can tweak it to suit their needs. Thats the reason why you see different interface on LG device compared to a Samsung device. So optimizing it like  iOS is hard to achieve. 
</p>
<p>
Second thing is that it’s really hard for a company to sell its phone based on its better optimization and not specs.<b> Optimization and updated specs have to run parallel.</b> That was the sole reason why HTC dropped the famous BOOM sound speakers in its flagship. Even though they were amazing, but you can’t really advertise them.  
Lets suppose if Samsung launches its flagship with 6 GB of RAM and better-optimised UI and  LG launched their flagship with 8 GB of RAM with similar processor and a similar price. Who would you go with? Most us will be going along with LG for more RAM and consequently better performance. 
</p>

<h2><b>What happens if this spec race continues? Do we really need that much amount of RAM? </b></h2>
<p>
I completely agree that our day to day usage don't make use of 8 GB of RAM, even the heavy and intensive games doesn’t make use 8 GB of RAM. But it opens a whole lot possibilities  for the developers. 
</p>
<br>
<p>
<b>More RAM </b>-  More ram gives develops more room to experiment with their app and  make their  app more graphical and add more power consuming features. Don’t get me wrong, no app can make use of 8 GB of RAM, but the thing is, back in the day when flagship came with 2 GB of RAM,  developers have to consider that their app will also be running on a phone having 512MB of RAM , but now even the budget phones come with 2 GB of RAM, hence giving more room to the developers. 
</p>  
<br>

<p>
<b>Custom ROMs</b> -With the increase in in processing power and RAM, we tend to see more feature rich and graphically intensive ROMS from XDA. If you are a power user, you can even overclock you processor for better performance. Otherwise, you can underclock your processor , or even make some cores to stop to get a better battery life.
</p>
<img src="static/8GB_RAM_needed/roms.png" class="img-fluid" alt="Custom ROMs" style="width:600px;height:350px; padding-top:40px; padding-bottom:40px ">

<p>
<b> You can play CS 1.6 </b> -With the increase of computing power on your mobile phones, you can even play CS 1.6 on your android phones. Someone at Git Hub posted the code which you can run with a  PC’s version of CS 1.6, you can run it on your phone.
</p>

<img src="static/8GB_RAM_needed/cs1.6.jpg"  class="img-fluid" alt="counter strike" style="width:600px;height:350px; padding-top:30px; padding-bottom:30px ">



<p>
<b>PPSSPP -</b>There are emulators like PPSSPP, which will let you play the PSP games on Android, which in my opinion are pretty dope. You can play games like God Of War and Taken 5 with that emulator.

</p>
<br>
<p>
<b>Penetration Testing -</b>With phones being more powerful, many apks are available on the web for penetration testing like Brute forcing and man in the middle attacks. And if you are good at programming in Java, you can independently create apps for penetration testing purposes.
Think of it this way, if you are on an open WiFi, trying to monitor other’s data on a phone (though I am completely clueless if you even have a monitor mode on your phone’s WiFi card), the odds of you getting caught is close to none, as they would probably be suspecting a person with a laptop. 



</p>
<br>
<p>
<b>Qpython -</b>Even if you are python developer, you can indeed execute huge python scripts on your device using Qpython. You can’t take your laptop everywhere, but thanks to our powerful phones, you can write the script on your pc, and then execute it on your phones.
</p>
<img src="static/8GB_RAM_needed/qpython.png" class="img-fluid" alt="qpython" style="width:340px;height:650px; padding-top:40px; padding-bottom:40px ">
</p>

<h2><b>Conclusion </b></h2>
<p>
I guess that pretty much justify the advantages of the spec race for the end user. Most of the things mentioned here are useful for geeks and power user who tinker around a lot with their phones, but I guess only they have the brains to come up with a question like that and are curious enough to spend some time and look for it on the web.
Cheers guys and have a nice day! 

</p>
</div>

{% endblock %}
