


{% extends "register.html" %}
{% block body %}


			<div  style="padding-right:100px" >
			<a href= "{{ url_for('fast_charging') }}">
			<img src="static/fast_charging/final.png"  style="   padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('fast_charging') }}">  Your phone supports quick charge: Here is how you can enable it!</a></h2>
			<div style="padding-right:100px ">  <!-- this code is important ! -->
	Your phone probably support fast charging, even thought it doesn't support out of the box.
			
			</div>
			</div>

			<hr style="border:1px solid #9D54F5    ;">

			<div  style="padding-right:100px ">
		<a href= "{{ url_for('is_Android_Linux') }}">
		<img src="static/is_Android_Linux/final.png"  style="   padding-right:10px " class="img-fluid" > </a>
			<h2><a href= "{{ url_for('is_Android_Linux') }}"> Is Android Linux? </a></h2>
			<div style="padding-right:100px ">  <!-- this code is important ! -->
			Many people believe its answer to be binary, <b>either it is or it’s not</b>, but the things are bit more complex here. <br>
<b>The correct statement is “ Android is using Linux Kernel “.</b>   Now lets break this statement to understand it better
			</div>
			</div>
		
		<hr style="border:1px solid #9D54F5    ;">
		
			<div  style="padding-right:100px">
		<a href= "{{ url_for('is_your_prone_to_hacking') }}">
		<img src="static/is_your_prone_to_hacking/hacking.jpg" style="   padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('is_your_prone_to_hacking') }}"> Is your Phone Hacked? </a></h2>
			<div style="padding-right:100px "> 
			Chances are someone is looking you through your front cam right now or recording your voice or tracking you through GPS. Check if you are safe! 
			</div>
			</div>
			<hr style="border:1px solid #9D54F5    ;">
						
		<div  style="padding-right:100px">
		<a href= "{{ url_for('keep_android_safe') }}"> 
		<img src="static/keep_android_safe/final.jpg" style="   padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('keep_android_safe') }}"> How to keep your android phone safe? </a></h2>
			<div style="padding-right:100px "> 
			Here some tips and tricks to keep your android phone safe from hackers.
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">

		<div  style="padding-right:100px">
		<a href= "{{ url_for('reasons_to_root_your_Android_phone') }}"> 
		<img src="static/reasons_to_root_your_Android_phone/final.jpg" style="   padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('reasons_to_root_your_Android_phone') }}"> Top 10 reasons to root your Android phone in 2017 </a></h2>
			<div style="padding-right:100px "> 
			Three – four years back, the smartphone companies used a very bloated skin on their device.But now the time has changed, it’s 2017, and most of the smartphone companies has got their shit together and improved. Check out if you still need to root your phone ? 

			</div>
			</div>
			<hr style="border:1px solid #9D54F5    ;">
			<div  style="padding-right:100px">
		<a href= "{{ url_for('rooting_popularity_down') }}"> 
		<img src="static/rooting_popularity_down/final.png" style="   padding-right:10px " class="img-fluid"></a>
			<h2><a href= "{{ url_for('rooting_popularity_down') }}"> Why has rooting become less popular over the years? </a></h2>
			<div style="padding-right:100px "> 
			In the recent years, there have been a decline in the users rooting there phones. And in this post, I will be discussing the list of things that I believe, has led to this decline.
			</div>
			</div>

<hr style="border:1px solid #9D54F5;">
	
			  <div style="padding-right:100px">
                        <a href= "{{ url_for('GB_RAM_needed') }}">
                        <img src="static/8GB_RAM_needed/8gb_final.png"  style="padding-right:10px" class="img-fluid"> </a>
                        <h2><a href= "{{ url_for('GB_RAM_needed') }}"> Do you really need 6 or 8 GB of RAM  on your Smart Phones? </h2></a>
                        <div style="padding-right:100px ; padding-top:1cm ">  <!-- this code is important ! -->
                        8 GB of RAM can really make a difference, if you love to tinker around with your phone. See how can it make di$
                        </div>
                        </div>
                        




		
{% endblock %}
		

						

						
					
		   
