
			
		{% extends "register.html" %}
			{% block body %}
			

<div style = " font-style: Courier New ; font-size : 22px " >
<h1>My Experience with different Desktop Environment </h1>
<br>
<br>
<p><b>Disclaimer  -</b>It’s my personal option that I have developed after using them for certain period of time. You might have a different option and I respect that and I hope you do the same for me.  
</p>
<h2>What is Desktop Environment (DE)?</h2>
<p>
One of the many customizations that you can do with Linux is choosing a DE that suits your needs. You would probably be knowing what DE is, but if in case, if you don’t know then DE is basically the GUI that you see when you sign in. Windows and Mac users might not have heard about it, as unlike Linux they are not allowed to have different DE options available. On Linux, most of the distributions come up with some default DE, that can be later changed. For example, Ubuntu 16.04 comes with Unity as a default DE. <br><br>

I am not gonna bore you with the history of these different DE, that information is presented on a couple of sites on Google. I will be sharing my experience after using it for a couple of days. 
</p>
<h3><b>My laptop specification -</b></h3>

This is the laptop on which I do most of the programming stuff. It is not so powerful but does the job done!
<br>
<b>Processor -</b> Intel i5 6200u Dual core with Hyperthreading, clocked at 2.30 GHz<br>
<b>RAM –</b> 8GB DDR3<br> 
<b>Graphics Card –</b>GTX 940M (I didn't install drivers on Linux though )
<br>
<img src="static/different_de_experience/system_info.png" class="img-fluid"v style="width:800px; height:600px; padding-top:40px; padding-bottom:40px ">


<h2>LXDE </h2>

<img src="static/different_de_experience/LXDE_NORMAL.png" class="img-fluid" style="width:800px; height:600px; padding-top:40px; padding-bottom:40px ">

<p>It has a pretty minimalist interface. <b>The application menu lacks search bar without which finding an application become a lot difficult.</b> In the applications menu, applications are classified into different headings, which at times is very irritating when you look for an application in particular heading and you don’t find it there. I was looking for some application and it took me like 5-6 Minutes to find it. <br>
<b>If your PC has low specs like a Pentium or Celeron processor and 2 GB of RAM, then this is what you should go with, as it will be consuming a lot lesser resources, unlike the other DE. 
</b><br>
There is one more incident that occurs while using LXDE which I would like to share. So generally when I want to use some image as a wallpaper, I just right click on that image and select the option to “ set it as wallpaper ”. But that option was not present in this DE. Then I opened the images and tried, but again there was no such option. Then I had to take the long route of going to Desktop setting and navigating it to the photo, I want to make it as my desktop. Similarly, there are 
things that you have to do it the long way.<br>
Even though it is fast, but I wouldn’t recommend using it as your primary DE, unless if your PC has low specs. 
</p>
<h2>XFCE </h2> 

<img src="static/different_de_experience/xfce_normal.png" class="img-fluid" style="width:800px; height:600px; padding-top:40px; padding-bottom:40px ">
<p>
This is the DE, which I personally use. And I kinda like it. <b>It is wicked fast and has panel support. It doesn’t  have the search bar though, which makes finding the application difficult and time consuming.</b> Hence you can see the panel at the top having all the apps I use so that I rarely need to open the application menu. The application menu is same as that of LXDE and is equally irritating when you have to browse through tons of application before you finally spot what you are looking for. <br>
Sometimes when I go into deep search, chrome consumes all the RAM and processing power, hence trading resources in exchange for some graphics intensive DE like Gnome or KDE isn’t a thing I can afford to do. 
</p>
<h2>Gnome 3 </h2>
<img src="static/different_de_experience/gnome_classic_normal.png" class="img-fluid" style="width:800px; height:600px; padding-top:40px; padding-bottom:40px ">
<p>
<b>It is a graphics intensive DE and indeed very appealing to look at. It has the panel support and even a search bar.</b> With the help of search bar, finding applications was a breeze. It has tons of customization options. You will find it unique if you are coming from LXDE, cinnamon or Xfce. <br>

One thing when blew my brains out was looking for the option so that I can have the icons on the desktop. By default, it doesn't show any icons and you can’t just simply drag and drop the folders if it is disabled. I had to google it and was finally able to do so. 
</p>
<h2>Cinnamon </h2> 
<img src="static/different_de_experience/cinnamon_normal.png" class="img-fluid" style="width:800px; height:600px; padding-top:40px; padding-bottom:40px ">
<p>
This was the DE which made me wondered why on earth was I using xfce, and after using it for a couple of days, I really missed using it. It provides a lot of customization options, but still manages to keep it simple. <b>It has panel support and the search bar.</b> I found it bit similar to Windows 7. As compared to other DE, it has a lot more settings options. <br>
One thing, I would like the mention is that there were some minor lag in the UI, but the most part it worked just fine. For me,<b> this DE bridges the gap between simplicity and graphics intensive interface.</b> 
</p>
<h2>Unity </h2>
<img src="static/different_de_experience/Unity.png" class="img-fluid" style="width:800px; height:600px; padding-top:40px; padding-bottom:40px ">
<p>
<b>I have used unity for solid 5 months in the past on Ubuntu.</b> Like most of the beginner, I also started my journey with Ubuntu with Unity as DE. Coming from the windows, even unity felt like a bliss, but it was only after I started using Debian with xfce, I realised how crappy Ubuntu was. I am not really sure if it was just Ubuntu or Unity that made the experience bit unpleasant.
Just a few days past, I installed Ubuntu 17.04  on the virtual box, and TBH, I couldn’t stand it.
Unity is pretty ram intensive and one of the most resource consuming DE.  
<b>With Ubuntu dropping Unity as its default DE, I guess unity sucks!</b>
</p>

<h2>Mate  </h2>

<img src="static/different_de_experience/mate_normal.png" class="img-fluid" style="width:800px; height:600px; padding-top:40px; padding-bottom:40px ">
<p>
It is highly customizable and has the panel support. It doesn’t have the support for the search bar in the application menu. It is a bit traditional looking DE, and personally, I didn't like it that much solely because its how it looks. It is simple and lightweight and hence it didn’t lag and worked flawlessly.  

</p>



<h2>KDE </h2>

<img src="static/different_de_experience/KDE.png" class="img-fluid" style="width:800px; height:600px; padding-top:40px; padding-bottom:40px ">
<p>
For the first 5 minutes, I was like WOW! It looked beautiful. And I still love using it. There is so much to optimize and this sometimes becomes a headache at first, but once you figure out, it’s amazing. I got no words to describe how alluring it was. But there is a trade off that comes along with it, that is, more RAM and CPU consumption. But it was worth it! <br><br>
<i>
I hope this post helped you picking out DE that suits your needs. What DE do you use? Let me know in the comment section below
</i></p>
<br><br><i>
If you want to recommend me another topic or there is something else you want to share, you can do so by filling the form below the comment section.
 </i>

</div>
{% endblock %}
			
