	{% extends "register.html" %}
			{% block body %}

<div style = " font-style: Courier New ; font-size : 22px " >

            <h1><b>   Does gaming on Linux suck? </b></h1>

<img src="static/gaming_on_linux/final.png" class="img-fluid" class="img-responsive"  style=" padding-top:40px; padding-bottom:40px ">

<p>In the recent years, we have seen Linux mature into a stable and user-friendly operating system. Thanks to the countless hours spent by the developers, some Linux distributions are even more stable that Mac OS and Windows. Even though there is some learning curve for a beginners, but that stability, productivity, or even in some distributions, the bleeding edge features, is worth all that time you spend learning it. These are the things that attract more geeks to escape the windows or mac environment and use Linux as their primary OS.<br><br>

As there are a lot of different distributions, we tend to believe that there is something for everyone. I have covered an article discussing, <a href= "{{ url_for('different_de_experience') }}"> different Linux distributions and which one is best for you</a>.<b> But is that true for gamers? Let us find out!</b>
</p>

<h2><b>Can you game on Linux? </b></h2>

<p>There is no simple answer to this question. Yes you can game on Linux but not all the games and there are couple of things that you have to keep in mind if you plan to game on Linux <br>

<b>1) Most of the Distributions except Ubuntu and steam OS have no official support for steam.</b> But you can install Steam through wine.
 Wine if you don’t know, is a free and open source compatibility layer which helps you run the windows applications and games on Linux.
I use it on Debian, and it works as intended for the most part, but there some crashes here and there.  <br> <br>

<b>2)No official support for the graphics card drivers from AMD and Nvidia is a sour point for the Linux.</b> Hence you have to look for it on the web. If you have a graphics card that isn’t that popular, then good luck finding its drivers!
The open source drivers are not in power with the  performance of those launched officially. Hence you will definitely be noticing FPS drops and performance difference. <br><br>
 
<b>3)</b> You can’t play all the games on Linux.<b> Most of the AAA titles don’t run on the Linux.</b> So using Linux as your primary OS for gaming will make you miss out on many great games.
 <br><br>

<b>4)The games with DX11 and DX12, don’t run out of the box.</b> You have to spend a lot of time browsing through the forums in order to tweak the settings and make it run. But even if you make it run somehow, there will be lack of optimization and hence decrease in performance.

<h2><b>Gaming experience on Steam OS and Ubuntu </b></h2>

<p>Ubuntu and steam OS officially support Steam. They both are based on Debian. You guys might be families with Ubuntu, most of us have used it as out first Distribution. Let me tell you about SteamOS. It is an open source distribution put in together by  Valve for the so called <b>“living room entertainment environment”</b>. It  aims towards making it more user friendly so that even a not technical gamer can use it. There has been a significant increase in  optimization and performance, that been said,  we still  have still have a long way to go. In the current development stage, it is not advised for the non technical person (as stated on the steamOS website.) </p>

<h2><b>Games Linux performs better than windows </b></h2>
<p>
Don’t be surprised to see this heading. Yes, there are some games that run better on Linux. Even though the drivers are not the official ones, we should not forget, the windows are filled with bloatware and are very graphics intensive. The amount of RAM and CPU consumption of Windows is way higher than Linux distributions. <br>
<br> 
Here is the list of some games that run better on Linux - 
<ul><b>
<li>Dota 2</li>
<li>Nexuiz and open arena</li>
<li>Team Fortress 2</li>
<li>War thunder</li>
<li>Heroes of Neverth</li>
<li>Minecraft</li>
<li>Metro Last Light Redux</li>
<li>Insurgency</li>
<li>ARMA III</li>
<li>Left 4 Dead 2</li>
<li>XCOM</li>
</b></ul>
</p>
<h2><b>My gaming background </b></h2>

<p>I use Debian as my primary OS for programming . I game for around 2- 3 hours at night. Now the thing is, at the end of the day, I am so tired that I just need the game to run out of the box. I don’t want it to crash while I am playing. That’s the reason why I use windows. Plus I am very picky about the performance af the laptop on which I game sucks, hence I need to grasp every bit of performance. </p>

<h2><b>My views </b></h2>

<p>I might have seemed hard on Linux, making you feel like I hate it, but that's not true. I  love the flexibility and customization that  Linux brings with it. <b>But the first step to solve the problem is accepting there is one.</b> Only then we can look forward addressing it. Now that we have Ubuntu and Valve working on making the performance better, the day is not far, when we will be witnessing Steam OS as a major platform for gaming. <br>
But looking at this development stage, I wouldn’t recommend using it as your primary OS for gaming. If you are  curious enough, then you can try running few games on Linux. 
<p>
<p><i>
Obviously, this is just my opinion, you might be having a different one. While writing about this topic, I visited many forums and there were many gamers who used Linux for gaming. Let us meet in the comment section below and share our views. 
<br>
<br>
<br>
If you want to recommend me another topic or there is something else you want to share, you can do so by filling the form below the comment section.
</i></p>


</div>


{% endblock %}






















































