{% extends "register.html" %}
{% block body %}


		
				<div  style="padding-right:100px">
		<a href= "{{ url_for('end_to_end_encryption') }}"> 
		<img src="static/end_to_end_encryption/final.png" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('end_to_end_encryption') }}"> End-to-End Encryption  </a></h2>
			<div style="padding-right:100px "> 
			Keeping you text messages protected from the eves droppers and government had been a  major issue for the companies like WhatsApp, Facebook Messenger and Apple on iMessages.Check out, how end to end encryption solves it.  
			
			
			</div>
			</div>
			
			
			
			<hr style="border:1px solid #9D54F5;">
								<div  style="padding-right:100px">
		<a href= "{{ url_for('check_the_support_for_monitor_mode') }}"> 
		<img src="static/check_the_support_for_monitor_mode/final.png" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('check_the_support_for_monitor_mode') }}"> Check if your wireless card supports monitor mode for Aircrack-ng and Wireshark </a></h2>
			<div style="padding-right:100px "> 
			Monitor mode on a network card is used for capturing the data using applications like wireshark.
			
			
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">
			
			
		
				<div  style="padding-right:100px">
		<a href= "{{ url_for('enable_monitor_mode') }}"> 
		<img src = "static/enable_monitor_mode\final.png" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('enable_monitor_mode') }}">How to turn on the monitor mode for capturing packets on Linux </a></h2>
			<div style="padding-right:100px "> 
			Chances are your network card supports monitor mode. Here is how you can enable it!
			</div>
			</div>
		
			<hr style="border:1px solid #9D54F5;">
			
			
			
			
			
			
		<div  style="padding-right:100px">
		<a href= "{{ url_for('is_your_prone_to_hacking') }}">
		<img src="static/is_your_prone_to_hacking/hacking.jpg" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('is_your_prone_to_hacking') }}"> Is your Phone Hacked? </a></h2>
			<div style="padding-right:100px "> 
			Chances are someone is looking you through your front cam right now or recording your voice or tracking you through GPS. Check if you are safe! 
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">
			
			
			<div  style="padding-right:100px">
		<a href= "{{ url_for('Should_You_Install_Kali_Linux_as_a_Beginner') }}"> 
		<img src="static/Should_You_Install_Kali_Linux_as_a_Beginner/final.png" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('Should_You_Install_Kali_Linux_as_a_Beginner') }}"> Should You Install Kali Linux as a Beginner ? </a></h2>
			<div style="padding-right:100px "> 
			Kali contains several hundred tools aimed at various information security tasks, such as Penetration Testing, Forensics and Reverse Engineering. But Should you install it as your primary disto? Lets find out!
			
			
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">
			

				<div style="padding-right:100px">
		<a href= "{{ url_for('public_key_encryption') }}"> 
		<img src="static/public_key_encryption/final.jpg" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('public_key_encryption') }}"> Public Key Cryptography </a></h2>
			<div style="padding-right:100px "> 
			The problem is how much stronger your hashing algorithm is, <b>if a hacker gets hold of the  key, then encrypting doesn’t make much sense. This is where Public Key Cryptograph.</b>
			
			
			</div>
			</div>
				<hr style="border:1px solid #9D54F5;">

				<div style="padding-right:100px">
		<a href= "{{ url_for('crunch_wordlist_generator') }}"> 
		<img src="static/crunch/final.png" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('crunch_wordlist_generator') }}"> Generate wordlist using Crunch for password cracking. </a></h2>
			<div style="padding-right:100px "> 
			In this post, I will be discussing crunch and how we can use to generate a wordlist which we can further use to crack passwords.
			
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">

			
		
				<div style="padding-right:100px">
		<a href= "{{ url_for('wifi_password_crack') }}"> 
		<img src="static/wifi_hacking/final.png" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('wifi_password_crack') }}"> Hack WiFi password using Aircrack-ng </a></h2>
			<div style="padding-right:100px ">
			In this tutorial, I will be discussing, how to crack wifi passwords using aircrack-ng. It is an extremely useful tool to crack WiFi passwords.  

			
			</div>
			</div>


			
	<div  style="padding-right:100px">
		<a href= "{{ url_for('cookies_part1') }}"> 
		<img src="static/cookies_part1/final.jpg" style="  padding-right:10px " class="img-fluid" > </a>
			<h2><a href= "{{ url_for('cookies_part1') }}"> Cookies -Part 1 (Introduction to Cookies ) </a></h2>
			<div style="padding-right:100px "> 
			Cookies keep the record of your session, which includes all the links you clicked and how much time spent on that website.
	</div>
			</div>
			<hr style="border:1px solid #9D54F5;">

<div  style="padding-right:100px">
		<a href= "{{ url_for('cookies_part2') }}"> 
		<img src="static/cookies_part2/final.jpg" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('cookies_part2') }}"> Cookies -Part 2  (cookies tracking ) </a></h2>
			<div style="padding-right:100px "> 
			In this post, I have discussed about how third party cookies follow you across the web. Trust me, it is creepier than it sounds! 
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">

<div  style="padding-right:100px">
		<a href= "{{ url_for('cookies_part3') }}"> 
		<img src="static/cookies_part3/final.jpg" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('cookies_part3') }}"> Cookies -Part 3 (Third party cookies vs First party cookies and Identifying cookies on a site)  </a></h2>
			<div style="padding-right:100px "> 
			In the previous part of the series, be go indepth about the difference between third party cookies and the first party cookies. 
		
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">

		<div  style="padding-right:100px">
		<a href= "{{ url_for('end_to_end_encryption') }}"> 
		<img src="static/end_to_end_encryption/final.png" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('end_to_end_encryption') }}"> End-to-End Encryption  </a></h2>
			<div style="padding-right:100px "> 
			Keeping you text messages protected from the ev droppers and government had been a  major issue for the companies like WhatsApp, Facebook Messenger and Apple on iMessages.Check out, how end to end encryption solves it.  
			</div>
			</div>
			
			<hr style="border:1px solid #9D54F5;">
<div  style="padding-right:100px">
		<a href= "{{ url_for('Introduction_to_HTTP_and_HTTPS') }}"> 
		<img src="static/https_and_ssl/http.jpg" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('Introduction_to_HTTP_and_HTTPS') }}"> Secure Web Browsing -Part 1 ( Introduction to HTTP and HTTPS) </a></h2>
			<div style="padding-right:100px "> 
			While browsing the internet, you guys might have noticed that some sites using HTTP, while the others, using HTTPS. Which one of them is secure?
			 Lets find out!
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">
			
			<div  style="padding-right:100px">
		<a href= "{{ url_for('How_HTTPS_work') }}"> 
		<img src="static/https_and_ssl/http.jpg" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('How_HTTPS_work') }}"> Secure Web Browsing -Part 2 ( How does HTTPS actually work?) </a></h2>
			<div style="padding-right:100px "> 
			In this post, I will be talking about how HTTPS actually work, encrypting the data sent and recieved from the server. 
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">
			
			<div  style="padding-right:100px">
		<a href= "{{ url_for('three_way_handshake_part1') }}"> 
		<img src="static/three_way_handshake_part1/final.jpg" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('three_way_handshake_part1') }}"> Three way handshake -Part 1 </a></h2>
			<div style="padding-right:100px "> 
			In this post, we will be getting our hands dirty with Three Way Handshake

			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">
	
	<div  style="padding-right:100px">
		<a href= "{{ url_for('three_way_handshake_part2') }}"> 
		<img src="static/three_way_handshake_part2/final.jpg" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('three_way_handshake_part2') }}"> Three way handshake -Part 2 </a></h2>
			<div style="padding-right:100px "> 
			I will be using wireshark to see how the TCP three way handshake happens in the read world.

			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">

			<div style="padding-right:100px">
		<a href= "{{ url_for('public_key_encryption') }}"> 
		<img src="static/public_key_encryption/final.jpg" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('public_key_encryption') }}"> Public Key Cryptography </a></h2>
			<div style="padding-right:100px "> 
			The problem is how much stronger your hashing algorithm is, if a hacker gets hold of the  key, then encrypting doesn’t make much sense. This is where Public Key Cryptograph comes into play

			</div>
			</div>
		<hr style="border:1px solid #9D54F5;">	 
	<div  style="padding-right:100px">
		<a href= "{{ url_for('ICMP_Part_1') }}"> 
		<img src="static\ICMP_Part\icmp.jpg" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('ICMP_Part_1') }}"> Beginners to advance guide for ICMP -Part 1(Introductoin)</a></h2>
			<div style="padding-right:100px "> 
			In this tutorial, I will introducing you to the basics of ICMP and then gradually we will dig deep into this topic and learn about the ICMP service Model
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">
	<div  style="padding-right:100px">
		<a href= "{{ url_for('ICMP_Part_2') }}"> 
		<img src="static\ICMP_Part\icmp.jpg" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('ICMP_Part_2') }}"> Beginners to advance guide for ICMP -Part 2 (ICMP message types)</a></h2>
			<div style="padding-right:100px "> 
			In this tutorial,I will be discussing about the the different ICMP message type.

			</div>
			</div>
<hr style="border:1px solid #9D54F5;">	 
	<div  style="padding-right:100px">
		<a href= "{{ url_for('ICMP_Part_3') }}"> 
		<img src="static\ICMP_Part\icmp.jpg" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('ICMP_Part_3') }}"> Beginners to advance guide for ICMP -Part 3 ( Ping command)</a></h2>
			<div style="padding-right:100px "> 
			In this part and the next part will be completely practical and more attention seeking. Today we will be discussing about <b>how ping command use ICMP.</b> 
	</div>
			</div>			
<hr style="border:1px solid #9D54F5;">
	<div  style="padding-right:100px">
		<a href= "{{ url_for('ICMP_Part_4') }}"> 
		<img src="static\ICMP_Part\icmp.jpg" style="  padding-right:10px " class="img-fluid"> </a>
			<h2><a href= "{{ url_for('ICMP_Part_4') }}"> Beginners to advance guide for ICMP -Part 4 ( Traceroute )</a></h2>
			<div style="padding-right:100px "> 
			 This article is about the working of traceroute command. When I learnt about it, I blew away my mind. Hope it happens with you too.
			</div>
			</div>

		 
			
{% endblock %}
