<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Introspect by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link type="text/css" rel="stylesheet" href={{ url_for('static', filename="assets/css/main.css") }} />
		
	</head>
	<body>
		
		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">Boot Up the Geek</a>
					<nav id="nav">
						<a href="index.html">Programming</a>
						<a href="generic.html">linux</a>
						<a href="index.html">Android</a>
						<a href="index.html">Cyber Security</a>
						<a href="index.html">tech News</a>
						<a href="index.html">User Posts</a>

					</nav>
					
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        
            

            <h1> Some text here and some there</h1>




			

		<!-- Footer -->
        <section id="footer">
            <div class="inner">
                <header align = center>
                    <h2>You've reached the end!</h2>
                </header>
                           <div class="row" id = "color_footer">
          
            <div class="col-md-6" >


            <ul>
              
               <b><li><div class="grey-text text-lighten-3" >Contact: bootupthegeek@gmail.com</div></li></b>
                <b> <li><a class="grey-text text-lighten-3" href="{{ url_for('disclamer') }}">Disclamer</a></li></b>
            </ul>
          </div>
         <div class="col-md-6" >
            
            <ul>
              <b><li><a class="grey-text text-lighten-3" href="{{ url_for('sitemap_bing') }}">Site Map</a></li><b>
              <b><li><a class="grey-text text-lighten-3" href="{{ url_for('private_policy') }}">Privacy Policy</a></li></b>

            </ul>
          </div>
        </div>
                       <div class="footer-copyright">
        <div align= left>
       <b> ©COPYRIGHT 2017 Boot Up the Geek </b>
        
        </div>
      </div>
            </div>
        </section>

    <!-- Scripts -->
        <script src="static/assets/js/jquery.min.js"></script>
        <script src="static/assets/js/skel.min.js"></script>
        <script src="static/assets/js/util.js"></script>
        <script src="static/assets/js/main.js"></script>


    
</body>
</html>