

<html lang="en">

	<head>

		



		<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109608246-1"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-109608246-1');

</script>











			<title> Boot Up the Geek</title>

			<meta charset="utf-8" />

			<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

			<link type="text/css" rel="stylesheet" href={{ url_for('static', filename="assets/css/main.css") }} />

			<link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />

			<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />

			<link rel="stylesheet" href="carousel.css"/>

	

	

	

			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="theme-color" content="#000000">

			<link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />

		<link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />

		













	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	<script>

	  (adsbygoogle = window.adsbygoogle || []).push({

		google_ad_client: "ca-pub-3867990956374470",

		enable_page_level_ads: true

	  });

	</script>

	

	

	

	<!-- google adsense -->

	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	<script>

	  (adsbygoogle = window.adsbygoogle || []).push({

		google_ad_client: "ca-pub-3867990956374470",

		enable_page_level_ads: true

	  });

	</script>

	<!-- end google adsense -->

























</head>



	<body>





			<header id="header">

					<div class="inner">

						<a href= "{{ url_for('index') }}" class="logo">Boot Up the Geek</a>

						<nav id="nav">

							

							<a href= "{{ url_for('linux') }}">linux</a>

							<a href= "{{ url_for('android1') }}">Android</a>

							<a href= "{{ url_for('hacking_tutorials') }}">Cyber Security</a>

							<a href= "{{ url_for('news') }}">tech News</a>


						

				  

				

						</nav>

						

					</div>

				</header>

				<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

				



	  

	  <div id='react-root'></div>

	  <script src={{ url_for('static', filename="dist/about.bundle.js") }} /> </script>





	  <br> 

	  <BR><BR><div align="center"><h1> <B> Articles Worth Binge Reading </B></h1></div>

	  <br> <br><br>



		<!-- Two -->

		<section id="two">

			<div class="inner">

				<article>

					<div class="content">

						<header>

								<h3><a href= "{{ url_for('wifi_password_crack') }}"> Hack WiFi password using Aircrack-ng</a></h3>

						</header>

						<div class="image fit">

							<a href= "{{ url_for('wifi_password_crack') }}"><img src="static/wifi_hacking/final.png" alt="Crack wifi using Aircrack-ng" class="rounded" height=310 /></a>

						</div>

						<p>In this tutorial, I will be discussing, how to crack wifi passwords using aircrack-ng. It is an extremely useful tool to crack WiFi passwords.

							</p>

					</div>

				</article>

				<article>

						<div class="content">

							<header>

								<h3><a href= "{{ url_for('is_your_prone_to_hacking') }}"> Is your Phone Hacked?  </a></h3>

							</header>

							<div class="image fit">

								<a href= "{{ url_for('is_your_prone_to_hacking') }}"><img src="static/is_your_prone_to_hacking/hacking.jpg" class="rounded" alt="" height=310 /></a>

							</div>

							<p>With phone becoming more powerful, we tend to keep most of our sensitive data on our smartphones.Here is how you can make sure, if your phone is hacked.</p>

						</div>

					</article>







			</div>

		</section>







		<!-- Two -->

		<section id="two">

			<div class="inner">

			

				<article class="alt">

						<div class="content">

							<header>

								<h3><a href= "{{ url_for('Should_You_Install_Kali_Linux_as_a_Beginner') }}"> Should You Install Kali Linux as a Beginner ? </a></h3>

							</header>

							<div class="image fit">

								<a href= "{{ url_for('Should_You_Install_Kali_Linux_as_a_Beginner') }}">	<img src="static/Should_You_Install_Kali_Linux_as_a_Beginner/final.png" class="rounded"  alt="" height=310 /></a>

							</div>

							<p>Kali contains several hundred tools aimed at various information security tasks, such as Penetration Testing, Forensics and Reverse Engineering. But Should you install it as your primary disto? Lets find out!</p>

						</div>

					</article>



					<article class="alt">

							<div class="content">

								<header>

									<h3><a href= "{{ url_for('gaming_on_linux') }}">  Does gaming on Linux sucks? </a></h3>

								</header>

								<div class="image fit">

									<a href= "{{ url_for('gaming_on_linux') }}">	<img src="static/gaming_on_linux/final.png" class = "rounded" alt="" height=310 /> </a>

								</div>

								<p>Is gaming any good on Linux? Click here to find out!

								</p>

							</div>

						</article>

		

		

				









			</div>

		</section>









	<!-- Two -->

		<section id="two">

			<div class="inner">

					<article class="alt">

							<div class="content">

								<header>

									<h3><a href= "{{ url_for('GB_RAM_needed') }}">  Do you really need 6 or 8 GB of RAM  on your Smart Phones? </a></h3>

								</header>

								<div class="image fit">

									<a href= "{{ url_for('GB_RAM_needed') }}">	<img src="static/8GB_RAM_needed/8gb_final.png" class="rounded"  alt="" height=310 /> </a>

								</div>

								<p>8 GB of RAM can really make a difference, if you love to tinker around with your phone. See how can it make difference in your day to day life.

									</p>

							</div>

						</article>











						<article class="alt">

								<div class="content">

									<header>

										<h3><a href= "{{ url_for('fast_charging') }}"> Your phone supports quick charge: Here is how you can enable it! </a></h3>

									</header>

									<div class="image fit">

										<a href= "{{ url_for('fast_charging') }}"><img src="static/fast_charging/final.png" class="rounded"  alt="" height=310 /></a>

									</div>

									<p>Your phone probably support fast charging, even thought it doesn't support out of the box.</p>

								</div>

							</article>





			</div>

		</section>





			<!-- Two -->

			<section id="two">

				<div class="inner">

					



						

							<article class="alt">

								<div class="content">

								<header>

									<h3><a href= "{{ url_for('end_to_end_encryption') }}">End to End Encryption </a></h3>

								</header>

								<div class="image fit">

									<a href= "{{ url_for('end_to_end_encryption') }}">	<img src="static/end_to_end_encryption/final.png" class="rounded"  alt="" height=310 /> </a>

								</div>

								<p>Keeping you text messages protected from the eves dropper had been a  major issue for the companies like WhatsApp, facebook Messenger. And how they overcoome is by using end-to-end encyption.</p>

						</div>

							</article>

							<article class="alt">

									<div class="content">

										<header>

											<h3><a href= "{{ url_for('is_Android_Linux') }}"> Is Android Linux  </a></h3>

										</header>

										<div class="image fit">

											<a href= "{{ url_for('is_Android_Linux') }}"><img src="static/is_Android_Linux/final.png" class= "rounded" alt=""  height=310 /> </a>

										</div>

										<p>Many people believe its answer to be binary,<b> either it is or it’s not</b>, but the things are bit more complex here.

												<b>The correct statement is “ Android is using Linux Kernel“</b>. Now lets break this statement to understand it better!

										</p>

									</div>

								</article>



				</div>

			</section>









				<!-- Two -->

		<section id="two">

				<div class="inner">

						<article class="alt">

								<div class="content">

									<header>

										<h3><a href= "{{ url_for('crunch_wordlist_generator') }}"> Generate wordlist using Crunch for password cracking. </a></h3>

									</header>

									<div class="image fit">

										<a href= "{{ url_for('crunch_wordlist_generator') }}"><img src="static/crunch/final.png" class="rounded"  alt="" height=310 /></a>

									</div>

									<p>In this post, I will be discussing crunch and how we can use it to generate a wordlist which we can further use to crack passwords.</p>

								</div>

							</article>



						

							<article class="alt">

									<div class="content">

									<header>

										<h3><a href= "{{ url_for('rooting_popularity_down') }}"> Why has rooting become less popular over the years?  </a></h3>

									</header>

									<div class="image fit">

										<a href= "{{ url_for('rooting_popularity_down') }}"><img src="static/rooting_popularity_down/final.png" class="rounded"  alt="" height=310 /></a>

									</div>

									<p> In in the recent years, there has been a decline in the users rooting their phones.In this post we will be discussing some reasons why.  </p>

							</div>

								</article>















				</div>

			</section>



			<!-- Footer -->

			<section id="footer">

				<div class="inner">

					<header align = center>

						<h2>You've reached the end!</h2>

					</header>

					           <div class="row" id = "color_footer">

              

            	<div class="col-md-6" >





                <ul>

                  

                   <b><li><div class="grey-text text-lighten-3" >Contact: bootupthegeek@gmail.com</div></li></b>

					<b> <li><a class="grey-text text-lighten-3" href="{{ url_for('disclamer') }}">Disclamer</a></li></b>

                </ul>

              </div>

             <div class="col-md-6" >

                

                <ul>

                  <b><li><a class="grey-text text-lighten-3" href="{{ url_for('sitemap_bing') }}">Site Map</a></li><b>

                  <b><li><a class="grey-text text-lighten-3" href="{{ url_for('private_policy') }}">Privacy Policy</a></li></b>



                </ul>

              </div>

            </div>

					       <div class="footer-copyright">

            <div align= left>

           <b> ©COPYRIGHT 2017 Boot Up the Geek </b>

            

            </div>

          </div>

				</div>

			</section>





	  	<!-- Scripts -->

		  <script src="static/assets/js/jquery.min.js"></script>

		  <script src="static/assets/js/skel.min.js"></script>

		  <script src="static/assets/js/util.js"></script>

		  <script src="static/assets/js/main.js"></script>







		  <a title="Real Time Web Analytics" href="http://clicky.com/101083310"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>

		  <script src="//static.getclicky.com/js" type="text/javascript"></script>

		  <script type="text/javascript">try{ clicky.init(101083310); }catch(e){}</script>

		  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101083310ns.gif" /></p></noscript>

		  





	</body>

  </html>

  
