 {% extends "register.html" %}
			{% block body %}
<div style = " font-style: Courier New ; font-size : 22px " >

<h1><b>My journey from Windows to Debian </b></h1>


<img src="static/journey_from_windows_10_to_linux/main.png" class="img-fluid" style="width:700px;height:500px; padding-top:40px; padding-bottom:40px ">
<br>
Like most of the beginners out there, I started off my journey with Ubuntu. It wasn’t because I had met with the blue screen of death in windows, or because it started getting laggy over time, but out of curiosity. I started looking up for tutorials on YouTube for using the command line terminals and downloaded some cheat sheet for the Google for the Debian based terminal commands.  

<h2><b>My experience with Ubuntu </b></h2>

<p>I dualbooted Ubuntu 16.04LTS 64 bit Windows 10. I still remember, after installing it, the WiFi drivers were not detected, which at first actually scared the shit out of me. I connected my the Ethernet cable and spend some hours figuring out the problem and downloading the drivers. I was using Unity as a DE. <b>At that time of installing Ubuntu, I didn’t even know what DE was. I know most of you guys are gonna bash me on saying it, even I hate to admit, but I liked Unity at that point. It was until I installed Debian I realized how buggy Unity was. Till this date,  I have trust issues with my choices :) </b> 
<br><br>
That is the thing about Windows, it degrades your level to such an extent, <b>that you start loving shit.</b> Though there were stutters and glitches here and there, it aged pretty well. <p>

<h2><b>My experience with Debian </b></h2>

<p>After like 3-4 months of using Ubuntu, I decided to switch distro. I actually wanted to install Arch, hell I even downloaded its ISO file from torrent. But then I saw YouTube tutorial on how to install Arch, and I was terrified on seeing its command line installation.<br>
I was used to the graphical interface of installing an OS, where all you need to do is click next couple of times. It was obvious that Arch was no joke, so I decide to first dive deep into the world of Linux, and come back to Arch. </p>

<p>I am not into bleeding edge updates, that sometimes made my OS unstable. I wanted a stable distribution that ages pretty well. And hence Debian seemed to be an obvious choice. I kid you not, it took me two days (13-16 hours) to set it up. I was on my laptop for like 8 hours a day. Coming from Ubuntu, I didn’t know we have to set up the repositories by myself and finding WiFi driver was a complete pain in the ass.</p> 
<p>I visited the Debian official website and installed the WiFi driver for my Wifi Card, I found the right one, but it didn’t work. After a point I was just visiting different stack-overflow pages, trying to find the find the solution. Finding the WiFi drivers was very time consuming. But I feel like understood Linux way better after all this. </p> 
For the most part, Debian feels way smoother and there is no stutter what so ever. Using Debian with xfce made me realize how stuttery Ubuntu with unity was. 

<b>The thing about the using any Linux distribution is that, the more you use, the more you try to screw it up and harder you try to fix what you screwed up.</b>

<h2><b>My recent progress with Arch </b></h2>

<p>Recently I have been learning how to install Arch Linux. I have installed it twice, so as to understand the command line based installation better, and it is amazing. The amount of things you learn while setting up your own operating system is remarkable. I am probably gonna shift to Arch in couple of days, it’s just that I am too lazy to install all those applications that I have on Debian again onto Arch. <br> 
<b>After a while, you are probably gonna read an article saying ‘ My experience with Arch Linux :)  </b></p>
<br><br><br>
<p><i>I know it wasn’t much of an informative post, but I feel like doing it as it would encourage others to use Linux, and make them feel its normal spending time to fix the challenges that Linux brings with it. 
I would love to know, how you guys ended up using Linux and which Linux distribution you are currently using? Lets hit the comment section below and discuss! </i>
<br><br><br>

If you want to recommend me another topic or there is something else you want to share, you can do so by filling the form below the comment section.
</i></p>

</div>

{% endblock %}
