{% extends "register.html" %}
			{% block body %}

<div style = " font-style: Courier New ; font-size : 22px " >

<h1><b>How to keep your android phone safe? </b></h1> 

<img src="static/keep_android_safe/final.jpg" class="img-fluid" style="width:800px;height:600px; padding-top:40px; padding-bottom:40px ">

<p>Unlike iOS, Android is Open Source operating system, which gives different phone manufacturers to tinker around with the code to improve it in most of the cases but sometimes they intentionally leave a backdoor for the so called <b>“security purposes ”</b>. As Android is Open Source, that’s the reason why Google launches the source code of every Android after its launch. Actually, that is when we see new ROMs and kernels hit on XDA developers. If you are good at Java, C and C++, then you can probably tinker around with it. </p>
<p>
Some time back a Chinese company “Xiaomi” was accused of <b>spying on its user data.</b> Obviously, the company refused, but who knows it might be the truth. This is not an actual problem in my opinion. <b>The actual problem start if someone hacks the database, he is gonna have access to all the users’ personal information. </b>
</p>
<p>One obvious solution to this problem is to switch over to iOS. <b>It has a pretty good track record regarding security,</b> but if you are like me who is willing to walk an extra mile to use android while taking precautions not to get hacked then this <i>article is all you need. </i> 
Honestly not, you should read a couple of other articles from different sites. No one can cover everything :) 
</p>
<p>Of course, I can’t tell you which phone manufacturer has intentionally left a backdoor to spy on you, for that you have to keep your eyes on the tech news. But what I can do is enlighten you with some tips and tricks that if you follow can help you prevent some spying eyes. </p>
<ol>
<li><b>Download apps from trusted sources -</b> <p>Always download the apps from the Google Play Store.Apps on Play Store are 100% secure. The apks you install from the web to save a couple of bucks might have virus. Your app might run just fine, but in the background, it might have installed a Trojan that is compromising your personal data.</p> 
<img src="static/keep_android_safe/playstore.png" class="img-fluid" style="width:550px;height:550px; padding-top:40px; padding-bottom:40px ">



<li><b>Update your apps -</b> <p>If you are a person who tries different apps from the play store, but never delete them, it’s time you start removing the unnecessary apps. If you are not using an app, then chances are you will not be updating it and if a hacker finds some vulnerability in an earlier version of the app, then chances are  your phone will be one of many phones who’s security will be compromised. </p>
<img src="static/keep_android_safe/update.jpg" class="img-fluid"  style="width:400px;height:600px; padding-top:40px; padding-bottom:40px ">

<li><b> Phishing attacks using apks -</b> <p>Though these social media apps like Facebook and Instagram or even Gmail for the matter of fact are free to install, <b>but some people download them from some random website as apk. By doing so you are putting your social media credential into wrong hands.</b></p>
<img src="static/keep_android_safe/phishing.jpg" class="img-fluid"  style="width:800px;height:600px; padding-top:40px; padding-bottom:40px ">
<p>This is what happens, sometimes, when you run these apps like an apk, they have the same logo and same login screen, but when you input your username and password, it doesn’t login. It might open a random page or say that the credentials are not valid. You think OK, the app is poorly made, and you simply delete it. <br>
<b>What you don’t know is that some one has your Facebook username and password.
Hacking is less about knowing different programming languages and knowing how to run tools, it is more about creativity. This image below is the best example with regard to hacking.</b> </p>

<img src="static/keep_android_safe/hacking.jpg" class="img-fluid" style="width:450px;height:600px; padding-top:40px; padding-bottom:40px ">

<li><b>Keep your phone updated -</b> <p>Make sure you regularly update your smartphone with over the air (OTA) updates. If you using some mid range device, chances are you might be getting just one android update and few monthly security patches. Most of the people use their phones for like 2 years, then probably you should buy Google phones for more frequent and long term updates. <br>
I still remember even after 3 years, when Google officially withdrew the support for Nexus 5, it still got an update afterwards. </p>

<img src="static/keep_android_safe/phone_update.png" class="img-fluid" style="width:300px;height:600px; padding-top:40px; padding-bottom:40px ">


<li><b>Use VPN on public WiFi -</b> <p>The idea of free high speed Wi-Fi at airports, libraries and <b>cafe puts a big smile on everyone’s face, but it sometimes comes at a huge price of privacy breach. Anyone can perform man in the middle attack and capture all your traffic.</b> There are a couple of applications like wireshark which helps you do so. There are a lot of official documentation and tutorial videos available on YouTube. 
But luckily you can do a couple of things regarding it, that will ensure your safety. 
<ul><li> Using a VPN while you are using a public Wi-Fi. It will create a secure and private tunnel, through which it will route your packets. </li>
<li> Never put your credentials on an HTTP site, as these credentials are not encrypted. 
 HTTPS encrypts all your data, the moment you enter the credentials, hence making  them a bit harder to get.</li></p>
</ul>


<li><b>Lock your phone (if you haven't already) -</b> <p>Always password protect your phone. In your absence, anyone can install some spying software on your phone. And it is better if you can install an application that specifically locks one app. You can use that to password protect the apps like WhatsApp, file manager, if your tend to keep important PDFs on your phone.</p>
<img src="static/keep_android_safe/lock.jpg" class="img-fluid"  style="width:800px;height:600px; padding-top:40px; padding-bottom:40px ">

<li><b> Porn /torrent sites -</b> <p> Don’t visit the torrent and porn sites on a device which  have some important data.<b> In these sites, the ads are not given why Google. And these advert banners leave a cookie in your browser, which keep the record of all your online activity.
Disabling cookies will help prevent it to some extent.</b></p>

<img src="static/keep_android_safe/porn.jpg" class="img-fluid" style="width:800px;height:600px; padding-top:40px; padding-bottom:40px ">
</ul>
</ol>
<br><br>
<P><i>
These are the few things if you keep in mind, you might save your self of the spying eyes. 
As it is an open ended topic, I would love to read what you think of this. Lets hit the comment section below and discuss. 
Cheers guys! have a nice day! 
<br><br><br>If you want to recommend me another topic or there is something else you want to share, you can do so by filling the form below the comment section.
</i></P>

</div>

{% endblock %}



