{% extends "register.html" %}
{% block body %}

        <div  style="padding-right:100px">
        <a href= "{{ url_for('different_de_experience') }}"> 
        <img src="static/different_de_experience/KDE.png" style="padding-right:10px " class="img-fluid"> </a>
            <h2><a href= "{{ url_for('different_de_experience') }}"> My Experience with different Desktop Environment </a></h2>
            <div style="padding-right:100px "> 
            One of the many customizations that you can do with Linux is choosing a DE that suits your needs.
            </div>
            </div>
            <hr style="border:1px solid #9D54F5;">
            
            <div  style="padding-right:100px">
        <a href= "{{ url_for('distro_you_should_choose_after_ubuntu') }}"> 
        <img src="static/distro_you_should_choose_after_ubuntu/New _folder/final.png" style=" padding-right:10px " class="img-fluid"> </a>
            <h2><a href= "{{ url_for('distro_you_should_choose_after_ubuntu') }}"> Which Distribution should you do with after using Ubuntu or Mint? </a></h2>
            <div style="padding-right:100px "> 
            
            This is the question many folks come up with after they have used a particular Linux distribution for a while. And usually people begin with Debian based distribution like Ubuntu and Mint.
            
            </div>
            </div>
            <hr style="border:1px solid #9D54F5;">
            
            <div  style="padding-right:100px">
        <a href= "{{ url_for('gaming_on_linux') }}"> 
        <img src="static/gaming_on_linux/final.png" style=" padding-right:10px " class="img-fluid"> </a>
            <h2><a href= "{{ url_for('gaming_on_linux') }}"> Does gaming on Linux suck? </a></h2>
            <div style="padding-right:100px "> 
            Is gaming any good on Linux? Click here to find out!
            
            
            </div>
            </div>
            <hr style="border:1px solid #9D54F5;">
            
            <div  style="padding-right:100px">
        <a href= "{{ url_for('journey_from_windows_10_to_linux') }}"> 
        <img src="static/journey_from_windows_10_to_linux/main.png" style=" padding-right:10px" class="img-fluid"> </a>
            <h2><a href= "{{ url_for('journey_from_windows_10_to_linux') }}"> My journey from Windows to Debian </a></h2>
            <div style="padding-right:100px "> 
            In this post, I talk about how I moved from Windows to Linux. 
            
            
            </div>
            </div>
            <hr style="border:1px solid #9D54F5;">
            
        
        
            <div  style="padding-right:100px ">
        <a href= "{{ url_for('is_Android_Linux') }}">
        <img src="static/is_Android_Linux/final.png"  style=" padding-right:10px " class="img-fluid"> </a>
            <h2><a href= "{{ url_for('is_Android_Linux') }}"> Is Android Linux? </a></h2>
            <div style="padding-right:100px ">  <!-- this code is important ! -->
            Many people believe its answer to be binary, <b>either it is or it’s not</b>, but the things are bit more complex here. <br>
<b>The correct statement is “ Android is using Linux Kernel “.</b>   Now lets break this statement to understand it better
            </div>
            </div>
        
        <hr style="border:1px solid #9D54F5;">
        
        <div  style="padding-right:100px">
        <a href= "{{ url_for('Should_You_Install_Kali_Linux_as_a_Beginner') }}"> 
        <img src="static/Should_You_Install_Kali_Linux_as_a_Beginner/final.png" style="padding-right:10px " class="img-fluid"> </a>
            <h2><a href= "{{ url_for('Should_You_Install_Kali_Linux_as_a_Beginner') }}"> Should You Install Kali Linux as a Beginner ? </a></h2>
            <div style="padding-right:100px "> 
            Kali contains several hundred tools aimed at various information security tasks, such as Penetration Testing, Forensics and Reverse Engineering. But Should you install it as your primary disto? Lets find out!
            
            
            </div>
            </div>
            <hr style="border:1px solid #9D54F5;">
            
            <div  style="padding-right:100px">
        <a href= "{{ url_for('VB_or_dualboot') }}"> 
        <img src="static/VB_or_dualboot/final.png" style="padding-right:10px " class="img-fluid"> </a>
            <h2><a href= "{{ url_for('VB_or_dualboot') }}"> Beginner’s guide to install Linux – VirtualBox vs DualBoot </a></h2>
            <div style="padding-right:100px "> 
            While trying Linux for the first time, every beginner has two choices, either use VirtualBox or use Dualboot. This post talks all about that.  

            </div>
            </div>
    
{% endblock %}
