<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Introspect by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">Boot Up the Geek</a>
					<nav id="nav">
						<a href="index.html">Programming</a>
						<a href="generic.html">linux</a>
						<a href="index.html">Android</a>
						<a href="index.html">Cyber Security</a>
						<a href="index.html">tech News</a>
						<a href="index.html">User Posts</a>

					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


		
<div style = " font-style: Courier New ; font-size : 22px " >			
		
		<div class = "container" > 

<div class="row">
		<div class="col-md-9">

<h1><b>Why has rooting become less popular over the years?</b></h1>


<br>
<img src="images/final.png"  style="width:800px;height:600px; padding-top:10px; padding-bottom:40px ">  
<br>
<i><b>Disclaimer: </b>I am not discouraging anyone to root their phones. I am just presenting you my viewpoint on why rooting has become unpopular. </i>
<br>
<br>
In in the recent years, there has been a decline in the users rooting their phones. And here is the list of things that I believe, has led to this decline -
Do note that they are not in any specific order. 

<ol>
<li><b>High performing SoC –</b>Back in the days, the SoCs were not that powerful to play intensive games like Asphalt 8 or Nova 3. Some of them which played lagged a lot and sometimes even crash. Back then, overclocking processors to grab every bit of power left was a big deal.
But now the times have changed, even a $150 smartphones lets you play intensive games without much noticeable lag. </li>

<li><b>Increase in battery capacity –</b>The battery life of the smartphones have increased (not you iPhone!). Back then, if a phone had 3000 mAh it was a big deal, but now almost all the phones launched in 2017 have more than 3000 mAh battery capacity. </li>

<li><b>Increase in storage capacity –</b>There was a time when the phones came 800 MB of storage (when the android phones just came to existence) but we are not travelling that roads.
Let us talk about the time when there were phones that came with 8 GB or 4GB of internal storage. And the usable space was like 2.5 GB and 5 GB respectively. People craved to install apps on SD card, which most of the manufactures denied. Hence rooting your device was the only way to go.  </li>

<li><b>Heavy and sluggish user interface ( UI ) -</b>Back then, the companies used to put very terrible skins on their devices which disrupted the overall user experience of the phones. But most manufacturers have improved a lot recently, especially Samsung. I believe, this is  the primary reason, why people have stopped experimenting with their phones and install custom ROMs and kernels. <br>
Take my example, when I rooted my phone, it was only because wanted to get rid of the sluggish UI by installing a custom ROM. </li> 
</ol>
<br><br>
<p><i>There will surely be other reasons, why rooting has lost its popularity over the years. Let us meet in the comment section below and discuss more about this. As this is a very open ended topic, I would love to read what you guys think about. <br>
 <br>
Thank you guys for sticking around in this article and I hope to see you in my next post. 
<br>
<br>
<br>
If you want to recommend me another topic or there is something else you want to share, you can do so by filling the form below the comment section.
</i></p>
</div>



<!--------------------------------------------------------------------------------------------------------------------- -->

<div class="col-md-3"  style= "padding-top:200px;  font-style: Courier New ; font-size : 15px">
			 
			 <div style='padding-left:20px' >
			 <hr style =  "border: none; height: 4px;color: #333; background-color: #333; " > <!-- for borders -->
			
			
		<h3><b>Latest Tech News </b></h3>			<div style = "font-size: 15px;">
Razer launched its first phone, having Snapdradon 835 and 8GB of RAM, a massive batter of 4000mAh and a gorgeous 2K panel which has the refresh rate of 120Hz. Yeah you heard it right, freaking 120Hz. It is focused more on gamers as it will be coming with some exclusive games of its own exclusive games. 		
</div>
		<hr style =  "border: none; height: 4px;color: #333; background-color: #333; " >
			 </div>






	
			 <div style= "padding-top:40px;  font-style: Courier New ; font-size : 15px"  >
                <h3><b>Also from Boot Up the Geek </b></h3>
                <a href= "{{ url_for('disclamer') }}"> 
                <ul>
                <li>	Why has rooting become less popular over the years?</li>
                </a>
                <br>
                
                <a href= "{{ url_for('disclamer') }}"> 
                <li>	Cookies -Part 1 (Introduction to Cookies )</li>
                </a>
                <br>
                
                <a href= "{{ url_for('disclamer') }}"> 
                    <li>	End to End Encryption</li>
                </a>
                <br>
                
            <a href= "{{ url_for('disclamer') }}"> 
                <li>	My Experience with different Desktop Environment</li>
                </a>
                <br>
                
                <a href= "{{ url_for('disclamer') }}"> 
                <li>		Should You Install Kali Linux as a Beginner ?</li>
                </a>
                <br>
                
                <a href= "{{ url_for('disclamer') }}"> 
                <li>	Beginner’s guide to install Linux – VirtualBox vs DualBoot</li>
                </a>
                <br>
                
            
                <a href= "{{ url_for('disclamer') }}"> 
                <li>	Is your Phone Hacked?</li>
                </a>
                <br>
                
                <a href= "{{ url_for('disclamer') }}"> 
                <li>		Public Key Cryptography</li>
                </a>
                <br>
                
                
                <a href= "{{ url_for('disclamer') }}"> 
                <li>	Check if your wireless card supports monitor mode for Aircrack-ng and Wireshark?  </li>
                </a>
                <br>
                </b>
                            <br>
                            <br>
                   <br> 
                <br>
                <br>
                <br>
    
    
    
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- ad3 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:600px"
         data-ad-client="ca-pub-3867990956374470"
         data-ad-slot="9965660252"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
    
                
                </div>
                      
                 </div>	
    </div>
    </div>
    </div>	









	
		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<header align = center>
						<h2>You've reached the end!</h2>
					</header>
					           <div class="row" id = "color_footer">
              
            	<div class="col-md-6" >


                <ul>
                  
                   <b><li><div class="grey-text text-lighten-3" >Contact: bootupthegeek@gmail.com</div></li></b>
					<b> <li><a class="grey-text text-lighten-3" href="{{ url_for('disclamer') }}">Disclamer</a></li></b>
                </ul>
              </div>
             <div class="col-md-6" >
                
                <ul>
                  <b><li><a class="grey-text text-lighten-3" href="{{ url_for('sitemap_bing') }}">Site Map</a></li><b>
                  <b><li><a class="grey-text text-lighten-3" href="{{ url_for('private_policy') }}">Privacy Policy</a></li></b>

                </ul>
              </div>
            </div>
					       <div class="footer-copyright">
            <div align= left>
           <b> ©COPYRIGHT 2017 Boot Up the Geek </b>
            
            </div>
          </div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>


			<!-- bootstrap -->
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>