{% extends "register.html" %}
			{% block body %}

<div style = " font-style: Courier New ; font-size : 22px " >
			
    <h1><b>Top 10 reasons to root your Android phone in 2017  </b></h1>

<img src="static/reasons_to_root_your_Android_phone/final.jpg" class="img-fluid" style="width:800px;height:600px; padding-top:40px; padding-bottom:40px ">


<p>Three – four years back, the smartphone companies used a very bloated skin on their device. There skins where heavy and graphically intensive, which lead to the very laggy user experience. Remember those <b>Samsung flagships -s4 and s5 </b>which sucked the hell out of the user experience after like 5 months of usage. At that time, rooting was must for having a decent user experience. Back then stock android and cyanogen mod were the only stable ROMs. 
</p>
<p>But now the time has changed, it’s 2017, and most of the smartphone companies have got their shit together and  improved upon their UI and those who haven’t have switched to stock android – I am looking at you Lenovo. </p>

<h3><b>I have done another article on <a href=  "{{ url_for('rooting_popularity_down') }}"> Why has rooting become less popular over the years?</a> </h3></b>
<br>
Now that we have a more optimized UI over the android, does it make any sense rooting your phone? Let us find out!




<ol>
<li><b>Custom ROMs to extending the life of your phone –</b>Every phone, even the ones on stock android, show some random crashes and glitch here, after being used for like a year or year and a half.    
If you are a person who prefers using his phone for 2 years or more, then you should flash a custom ROM. It will drastically improve your user experience.
 
<li><b>Latest Android updates -</b>Most of the smartphone companies have  2 major updates policy. In a rooted phone, you can flash ROMs for latest android updates.
If you have a phone which has a good community support, then it will be having a wide variety of ROMS that suits your need. 
I own a Nexus 5, and I have flashed custom ROMS for Android N. It is running flawlessly without ant hiccups. </li>

<li><b>Enhance your phone’s performance -</b>If you are a person who plays a lot of intensive games on this phone, then flashing a custom kernel that overclocks your CPU and GPU will have a significant impact of your phone’s performance. But it will come at the cost of your battery lift which will decrease.
<img src="static/reasons_to_root_your_Android_phone/incerease-performance.jpg" class="img-fluid" style="width:800px;height:600px; padding-top:40px; padding-bottom:40px ">
</li>


<li><b>Enhance your battery life –</b>If you are like me who is constantly on YouTube or a social media site and doesn’t really game or do some intensive stuff on the smartphone, then flashing a kernel which underclocks your CPU and GPU will increase your battery life significantly.</li>

<li><b>Fast charging –</b>There are many SoC support fast charging, but the companies disable that feature. But in a rooted phone, you can flash a custom kernel which enables the supports for fast charging. 
<a href=  "{{ url_for('rooting_popularity_down') }}"> Why has rooting become less popular over the years? </a>

<img src="static/reasons_to_root_your_Android_phone/fast_charging.jpg" class="img-fluid" style="width:800px;height:600px; padding-top:40px; padding-bottom:40px "></li>
<li><b>Xpose framework –</b><p>It is a framework for your rooted Android phone. It in itself does not do much. But it lets you install other apps and mods  with system level functionality without having to flash them via custom recovery.
Xpose Framework makes it a lot easier to customize your phone. Not only can you change the looks of your Android phone, but also increase its performance and tweak system level functionality with Xpose Framework.</p>
<img src="static/reasons_to_root_your_Android_phone/xposed.jpeg" class="img-fluid" style="width:350px;height:550px; padding-top:40px; padding-bottom:40px "></li>
<li><b>Remove bloatware –</b> Some smartphone companies install few apps which you can’t remove by default. These might be some lame coupon apps, Obtrusive Toolbars , Sports Apps, or some Caller ID Services. We all just want to get rid of such apps, but due to lack of super user permissions, we end up disabling them. </li>

<li><b>Titanium backup –</b> This application is super useful for the people who like to flash different ROMs. Apparently, when you flash a ROM, everything gets deleted. But with the help of Titanium backup, you can take the backup of all the apps in there current state.	</li>			

<li><b>Ad blockers – </b>No one likes to see those annoying ads while using some app or playing games. They just pop up in the middle of nowhere and somewhat degradate the user experience. Lucky, we can block those ads using apps like AdFree, AdBlock Plus, and AdAware. </li>
						
<li><b>It’s your phone –</b> In the end, it boils down to the fact that you own this phone and you should be using it to its full potential. Why on earth should your usage be limited by the boundaries, set by a company? Sure there are some risks involved as you might end up bricking your phones, but in the end, you can't really put a price on true openness and control  </li>
</ol>
<p><i>That’s all from my side, there will definitely be other reasons, let me know in the comments below. I will make one heck of a conversation. 
<br><br><br>
If you want to recommend me another topic or there is something else you want to share, you can do so by filling the form below the comment section.
 </i></p>





</div>
			{% endblock %}
			









