<!DOCTYPE HTML>

<html>
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109608246-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109608246-1');
</script>






		<title> {{ title }} </title> 
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link type="text/css" rel="stylesheet" href={{ url_for('static', filename="assets/css/main.css") }} />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3867990956374470",
    enable_page_level_ads: true
  });
</script>


<!-- google adsense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3867990956374470",
    enable_page_level_ads: true
  });
</script>
<!-- end google adsense -->
	
	
	</head>
	<body>
		
		<!-- Header -->
			
			<header id="header">
				<div class="inner">
					<a href= "{{ url_for('index') }}" class="logo">Boot Up the Geek</a>
					<nav id="nav">
						<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
						<a href= "{{ url_for('linux') }}">linux</a>
						<a href= "{{ url_for('android1') }}">Android</a>
						<a href= "{{ url_for('hacking_tutorials') }}">Cyber Security</a>
						<a href= "{{ url_for('news') }}">tech News</a>
			  
					</nav>
					
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		


		

		<!-- Main -->
			<section id="main" >
				<div class="inner">
					<header class="major special">
							<div  class="row">
									<div class="col-md-9">
					
{% block body %}
			
			
	<!-- ########################################################################################-->			







<!--#####################################################################################3 -->
					{% endblock %}
				
				
				<!-- adsense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- below ads -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3867990956374470"
     data-ad-slot="6828307129"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- adsense code end -->


</p>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://bootupthegeek-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            

</div>
	
			<div class="col-md-3" >  
	   
		   
		<div style= "padding:30px; font-size : 16px ">
			<h4><b>Also from Boot Up the Geek </b></h4>
			<a href= "{{ url_for('rooting_popularity_down') }}" > 
			<ul>
			<li>	Why has rooting become less popular over the years?</li>
			</a>
			<br>
			
			<a href= "{{ url_for('cookies_part1') }}"> 
			<li>	Cookies -Part 1 (Introduction to Cookies)</li>
			</a>
			<br>
			
			<a href= "{{ url_for('end_to_end_encryption') }}"> 
				<li>	End to End Encryption</li>
			</a>
			<br>
			
		<a href= "{{ url_for('different_de_experience') }}"> 
			<li>	My Experience with different Desktop Environment</li>
			</a>
			<br>
			
			<a href= "{{ url_for('Should_You_Install_Kali_Linux_as_a_Beginner') }}"> 
			<li>		Should You Install Kali Linux as a Beginner ?</li>
			</a>
			<br>
			
			<a href= "{{ url_for('VB_or_dualboot') }}"> 
			<li>	Beginner’s guide to install Linux – VirtualBox vs DualBoot</li>
			</a>
			<br>
			
		
			<a href= "{{ url_for('is_your_prone_to_hacking') }}"> 
			<li>	Is your Phone Hacked?</li>
			</a>
			<br>
			
			<a href= "{{ url_for('public_key_encryption') }}"> 
			<li>		Public Key Cryptography</li>
			</a>
			<br>
			
			
			<a href= "{{ url_for('check_the_support_for_monitor_mode') }}"> 
			<li>	Check if your wireless card supports monitor mode for Aircrack-ng and Wireshark?  </li>
			</a>
			<br>



<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad3 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-3867990956374470"
     data-ad-slot="9965660252"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
					   
					   </div>
					</div>
					
			
							</div>
				</div>
			</section>

				
			<a title="Google Analytics Alternative" href="http://clicky.com/101083310"><img alt="Google Analytics Alternative" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
			<script src="//static.getclicky.com/js" type="text/javascript"></script>
			<script type="text/javascript">try{ clicky.init(101083310); }catch(e){}</script>
			<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101083310ns.gif" /></p></noscript>







		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<header align = center>
						<h2>You've reached the end!</h2>
					</header>
					           <div class="row" id = "color_footer">
              
            	<div class="col-md-6" >


                <ul>
                  
                   <b><li><div class="grey-text text-lighten-3" >Contact: bootupthegeek@gmail.com</div></li></b>
					<b> <li><a class="grey-text text-lighten-3" href="{{ url_for('disclamer') }}">Disclamer</a></li></b>
                </ul>
              </div>
             <div class="col-md-6" >
                
                <ul>
                  <b><li><a class="grey-text text-lighten-3" href="{{ url_for('sitemap_bing') }}">Site Map</a></li></b>
                  <b><li><a class="grey-text text-lighten-3" href="{{ url_for('private_policy') }}">Privacy Policy</a></li></b>

                </ul>
              </div>
            </div>
					       <div class="footer-copyright">
            <div align= left>
           <b> ©COPYRIGHT 2017 Boot Up the Geek </b>
            
            </div>
          </div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>


		
	</body>
	
</html>
