{% extends "homepage99.html" %}
{% block body %}


<p><h1> <b><center> <font face=" Times"> Android</font></center></b></h1></p>
<br>
<br>
<br>



<div class="row">
		<div class="col-md-9" >
			<h2><a href= "{{ url_for('GB_RAM_needed') }}"> Do you really need 6 or 8 GB of RAM  on your Smart Phones? </a></h2>
			<div style="padding-right:100px; padding-bottom:50px">
			<a href= "{{ url_for('GB_RAM_needed') }}">
			<img src="static/8GB_RAM_needed/8gb_final.png"  style="width:506px;height:327px; padding-right:10px "> </a>
			
			<div style="padding-right:100px ; padding-top:1cm ">  <!-- this code is important ! -->
			8 GB of RAM can really make a difference, if you love to tinker around with your phone. See how can it make difference in your day to day life.
			</div>
			</div>
			
			
			
			
			
			
			<div  style="padding-right:100px ; padding-bottom:50px"" >
			<a href= "{{ url_for('fast_charging') }}">
			<img src="static/fast_charging/final.png"  style="width:506px;height:327px; padding-right:10px "> </a>
			<h2><a href= "{{ url_for('fast_charging') }}">  Your phone supports quick charge: Here is how you can enable it!</a></h2>
			<div style="padding-right:100px ">  <!-- this code is important ! -->
	Your phone probably support fast charging, even thought it doesn't support out of the box.
			
			</div>
			</div>

			
			
			
			
			<div  style="padding-right:100px ; padding-bottom:50px"">
		<a href= "{{ url_for('is_Android_Linux') }}">
		<img src="static/is_Android_Linux/final.png"  style="width:506px;height:327px; padding-right:10px "> </a>
			<h2><a href= "{{ url_for('is_Android_Linux') }}"> Is Android Linux? </a></h2>
			<div style="padding-right:100px ">  <!-- this code is important ! -->
			Many people believe its answer to be binary, <b>either it is or it’s not</b>, but the things are bit more complex here. <br>
<b>The correct statement is “ Android is using Linux Kernel “.</b>   Now lets break this statement to understand it better
			</div>
			</div>
		
		
		
		
		
		
		<div  style="padding-right:100px ; padding-bottom: 100px">
		<a href = "#">
		<img src="\static\sample\7.png" style="width:506px;height:327px; padding-right:10px "> </a>
			<h3><a href="https://www.w3schools.com">Some random title</a></h3>
			<div style="padding-right:100px ">  <!-- this code is important ! -->
			The assignment statement (token '=', the equals sign). This operates differently than in traditional imperative programming languages, and this fundamental mechanism (including the nature of Python's version of variables) 
			</div>
			</div>


		</div>

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<!-- ------------------------------------------------------------------------------------------------------------- -->
		
		
		 <div class="col-md-3" >
		 
		 <div  style="padding-bottom: 200px">
			 <hr style =  "border: none; height: 4px;color: #333; background-color: #333; " > <!-- for borders -->
			
			
		<h3>Latest Tech News </h3>			
		
		<ul>This is a text widget. The Text Widget allows you to add text or HTML to your sidebar. You can use a text widget to display text, links, images, HTML</ul>
		<ul>or a combination of these. Edit them in the Widget section of thekjrfk rdwnugrh </ul>
		<hr style =  "border: none; height: 4px;color: #333; background-color: #333; " >
			 </div>
			 
			 
			 
			 <!-- there will be add -->
			 
			 
			 
		<h3>Also from Boot Up the Geek </h3>
			<a href = '#'> 
				What’s the Best Way to Back Up My Computer?
			</a>
			<br>
			<br>
			<a href = "#">
			Nest vs. Ecobee3 vs. Honeywell Lyric: Which Smart Thermostat Should You Buy?
			</a>
			<br>
			<br>
			<a href = '#'> 
				What’s the Best Way to Back Up My Computer?
			</a>
			<br>
			<br>
			<a href = "#">
			Nest vs. Ecobee3 vs. Honeywell Lyric: Which Smart Thermostat Should You Buy?
			</a>
			<br>
			<br>
			<a href = '#'> 
				What’s the Best Way to Back Up My Computer?
			</a>
			<br>
			<br>
			<a href = "#">
			Nest vs. Ecobee3 vs. Honeywell Lyric: Which Smart Thermostat Should You Buy?
			</a>
			<br>
			<br>
			
			
			<a href = "#">
			Nest vs. Ecobee3 vs. Honeywell Lyric: Which Smart Thermostat Should You Buy?
			</a>
			<br>
			<br>
			<a href = '#'> 
				What’s the Best Way to Back Up My Computer?
			</a>
			<br>
			<br>
			
			<a href = "#">
			Nest vs. Ecobee3 vs. Honeywell Lyric: Which Smart Thermostat Should You Buy?
			</a>
			<br>
			<br>
			<a href = '#'> 
				What’s the Best Way to Back Up My Computer?
			</a>
			
			
			</a>
			<br>
			<br>
			<a href = "#">
			Nest vs. Ecobee3 vs. Honeywell Lyric: Which Smart Thermostat Should You Buy?
			</a>
			<br>
			<br>
			<a href = '#'> 
				What’s the Best Way to Back Up My Computer?
			</a>
			<br>
			<br>
			
			 
			 
			 
			 </div>
		

		</div>
</div>



		 
			
{% endblock %}