{% extends "homepage99.html" %}
{% block body %}


<p><h1> <center> <font face=" Times"> Networking</font></center></h1></p>
<br>
<br>
<br>



<div class="row">
		<div class="col-md-9" >
			
			
			
	<div  style="padding-right:100px">
		<a href= "{{ url_for('cookies_part1') }}"> 
		<img src="static/cookies_part1/final.jpg" style="width:600px;height:340px; padding-right:10px "> </a>
			<h3><a href= "{{ url_for('cookies_part1') }}"> Cookies -Part 1 (Introduction to Cookies ) </a></h3>
			<div style="padding-right:100px "> 
			Cookies keep the record of your session, which includes all the links you clicked and how much time spent on that website.
			
			
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">




<div  style="padding-right:100px">
		<a href= "{{ url_for('cookies_part2') }}"> 
		<img src="static/cookies_part2/final.jpg" style="width:600px;height:340px; padding-right:10px "> </a>
			<h3><a href= "{{ url_for('cookies_part2') }}"> Cookies -Part 2  (cookies tracking ) </a></h3>
			<div style="padding-right:100px "> 
			In this post, I have discussed about how third party cookies follow you across the web. Trust me, it is creepier than it sounds! 
			
			
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">



<div  style="padding-right:100px">
		<a href= "{{ url_for('cookies_part3') }}"> 
		<img src="static/cookies_part3/final.jpg" style="width:600px;height:340px; padding-right:10px "> </a>
			<h3><a href= "{{ url_for('cookies_part3') }}"> Cookies -Part 3 (Third party cookies vs First party cookies and Identifying cookies on a site)  </a></h3>
			<div style="padding-right:100px "> 
			In the past part of the series, be go indepth about the difference between third party cookies and the first party cookies. 
			
			
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">



		<div  style="padding-right:100px">
		<a href= "{{ url_for('end_to_end_encryption') }}"> 
		<img src="static/end_to_end_encryption/final.png" style="width:600px;height:340px; padding-right:10px "> </a>
			<h3><a href= "{{ url_for('end_to_end_encryption') }}"> End-to-End Encryption  </a></h3>
			<div style="padding-right:100px "> 
			Keeping you text messages protected from the eves droppers and government had been a  major issue for the companies like WhatsApp, Facebook Messenger and Apple on iMessages.Check out, how end to end encryption solves it.  
			
			
			</div>
			</div>
			
			
			
			<hr style="border:1px solid #9D54F5;">


<div  style="padding-right:100px">
		<a href= "{{ url_for('Introduction_to_HTTP_and_HTTPS') }}"> 
		<img src="static/https_and_ssl/http.jpg" style="width:600px;height:340px; padding-right:10px "> </a>
			<h3><a href= "{{ url_for('Introduction_to_HTTP_and_HTTPS') }}"> Secure Web Browsing -Part 1 ( Introduction to HTTP and HTTPS) </a></h3>
			<div style="padding-right:100px "> 
			While browsing the internet, you guys might have noticed that some sites using HTTP, while the others, using HTTPS. Which one of them is secure?
			 Lets find out!
			
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">


			<div  style="padding-right:100px">
		<a href= "{{ url_for('') }}"> 
		<img src="" style="width:600px;height:340px; padding-right:10px "> </a>
			<h3><a href= "{{ url_for('') }}">  </a></h3>
			<div style="padding-right:100px "> 
			
			
			
			</div>
			</div>
			<hr style="border:1px solid #9D54F5;">
			
			
			
			</div>
			
		
		 <div class="col-md-3" >
		 
		 <div  style="padding-bottom: 200px">
			 <hr style =  "border: none; height: 4px;color: #333; background-color: #333; " > <!-- for borders -->
			
			
		<h3>Latest Tech News </h3>			
		
		<ul>This is a text widget. The Text Widget allows you to add text or HTML to your sidebar. You can use a text widget to display text, links, images, HTML</ul>
		<ul>or a combination of these. Edit them in the Widget section of thekjrfk rdwnugrh </ul>
		<hr style =  "border: none; height: 4px;color: #333; background-color: #333; " >
			 </div>
			 
			 
			 
			 <!-- there will be add -->
			 
			 
			 
		<h3>Also from Boot Up the Geek </h3>
			<a href = '#'> 
				What’s the Best Way to Back Up My Computer?
			</a>
			<br>
			<br>
			<a href = "#">
			Nest vs. Ecobee3 vs. Honeywell Lyric: Which Smart Thermostat Should You Buy?
			</a>
			<br>
			<br>
			<a href = '#'> 
				What’s the Best Way to Back Up My Computer?
			</a>
			<br>
			<br>
			<a href = "#">
			Nest vs. Ecobee3 vs. Honeywell Lyric: Which Smart Thermostat Should You Buy?
			</a>
			<br>
			<br>
			<a href = '#'> 
				What’s the Best Way to Back Up My Computer?
			</a>
			<br>
			<br>
			<a href = "#">
			Nest vs. Ecobee3 vs. Honeywell Lyric: Which Smart Thermostat Should You Buy?
			</a>
			<br>
			<br>
			
			
			<a href = "#">
			Nest vs. Ecobee3 vs. Honeywell Lyric: Which Smart Thermostat Should You Buy?
			</a>
			<br>
			<br>
			<a href = '#'> 
				What’s the Best Way to Back Up My Computer?
			</a>
			<br>
			<br>
			
			<a href = "#">
			Nest vs. Ecobee3 vs. Honeywell Lyric: Which Smart Thermostat Should You Buy?
			</a>
			<br>
			<br>
			<a href = '#'> 
				What’s the Best Way to Back Up My Computer?
			</a>
			
			
			</a>
			<br>
			<br>
			<a href = "#">
			Nest vs. Ecobee3 vs. Honeywell Lyric: Which Smart Thermostat Should You Buy?
			</a>
			<br>
			<br>
			<a href = '#'> 
				What’s the Best Way to Back Up My Computer?
			</a>
			<br>
			<br>
			
			 
			 
			 
			 </div>
		

		</div>
</div>



		 
			
{% endblock %}